<section class="password-page">
  <img class="logo-img" src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name | escape }}" style="width:auto;height:72px;" width="300" height="72">
  <h1 class="display-1">{{ 'general.password.heading' | t }}</h1>
  <p class="lede">{{ shop.password_message | default: 'general.password.message' | t }}</p>

  {%- form 'storefront_password', class: 'club__form' -%}
    <label for="password" class="sr-only">{{ 'general.password.label' | t }}</label>
    <input type="password" name="password" id="password" autocomplete="current-password" placeholder="{{ 'general.password.label' | t }}">
    <button type="submit" class="btn btn--filled btn--red"><span>{{ 'general.password.enter' | t }}</span></button>
    {%- if form.errors -%}<p class="club__message" role="alert">{{ form.errors.messages.form }}</p>{%- endif -%}
  {%- endform -%}
</section>
